/*

  This is one approach to CSS.

  The font-size 0 allows display inline-block to flow cleanly.

  This requires and allows font-size and padding to be used with more precision.

*/


/* RESET */
*{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0; padding: 0;
  font-weight: normal;
  font-size: 0;
  vertical-align: top; }
head,script,style{
  display: none }



/* FONT-FACE */
@font-face {
  font-family: 'quattrocento_sansregular';
  src: url('/fonts/quattrocentosans-regular-webfont.eot');
  src: url('/fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
       url('/fonts/quattrocentosans-regular-webfont.woff') format('woff'),
       url('/fonts/quattrocentosans-regular-webfont.ttf') format('truetype'),
       url('/fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
  font-weight: normal;
  font-style: normal }
@font-face {
  font-family: 'quicksandregular';
  src: url('/fonts/quicksand-regular-webfont.eot');
  src: url('/fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('/fonts/quicksand-regular-webfont.woff') format('woff'),
       url('/fonts/quicksand-regular-webfont.ttf') format('truetype'),
       url('/fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal }



/* COLOR */
body{
  font-family: quattrocento_sansregular;
  background: #f5f4f0 }
body,a{
  color: #1a1a1a }
a:hover{
  color: #357eeb }
.gray-bg{
  background: #ccc }
.white-bg{
  background: #fff }
hr{
  border: none;
  border-top: 1px solid #999;
}



/* GRID */
.w80{
  width: 80% }
.w60{
  width: 60% }
.w50{
  width: 50% }
.w40{
  width: 40% }
.w33{
  width: 33.33% }
.w25{
  width: 25% }
.w20{
  width: 20% }
.w100,body,div,hr{
  width: 100% }

@media (max-width:960px){
  .w80,.w60,.w50,.w40,.w33,.w25,.w20{
    width: 100%
  }
}

.left{
  text-align: left }
.right{
  text-align: right }
.center{
  text-align: center }
.padding-one{
  padding-top: 24px;
  padding-bottom: 24px }
.padding-two{
  padding-left: 24px;
  padding-right: 24px  }



/* TEXT */
h1{
  font-family: quicksandregular;
  font-size: 72px }
p{
  font-size: 16px }
